#menu {
  background:#f7f7f7;
  border:1px solid #7C7C7C;
  list-style:none;
  margin:0;
  padding-right: 1.4%;
  padding-left: 7.4%;
  overflow: hidden;
  text-align: center;
  border:none;
}
body{
    margin: 0;
    font-family: sans-serif;
}

#menu li{
    float: left;
    width: 12.9%;
    margin-left: 0.5%;
}

#menu #largo{
    width: 18.6%;
    
}

#menu li a {
  background-color: #f7f7f7;
  color:#333;
  display:block;
  padding:.3em;
  text-decoration:none;
  border: 2px solid #eaeaea;
  border-bottom: none;
  margin-top: 28px;
  border-radius: 6px 6px 0px 0px;
  background-image: linear-gradient(#f7f7f7, #efefef);
}

#menu li a:hover{
    background-image: linear-gradient(#f7f7f7, #efefff);
}

#menu li a:active{
    background-image: linear-gradient(#f7f7f7, #bfffff);
}
